* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(https://user-images.githubusercontent.com/10658186/62740595-ca2dc980-ba27-11e9-9259-9b12cce09100.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: silver;
  font-family: "Blinker", sans-serif;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
}

.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35%;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 8%;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 15px silver(192, 192, 192);
  -moz-box-shadow: 0px 0px 15px silver;
  -o-box-shadow: 0px 0px 15px silver;
  -ms-box-shadow: 0px 0px 15px silver;
  box-shadow: 0px 0px 15px silver;
}

h1 {
  font-size: 190%;
  font-weight: 900;
  margin-top: 3%;
  margin-bottom: 3%;
}

h4 {
  margin: 1.5%;
}

form {
  margin-top: 5%;
}

.value {
  padding: 12px 20px;
  margin: 8px 0;
  background: transparent;
  border: none;
  -webkit-box-shadow: 0px 0px 5px silver(192, 192, 192);
  -moz-box-shadow: 0px 0px 5px silver;
  -o-box-shadow: 0px 0px 5px silver;
  -ms-box-shadow: 0px 0px 5px silver;
  box-shadow: 0px 0px 5px silver;
  text-align: center;
  font-size: 100%;
}

#address {
  border-radius: 10px;
}

#num {
  width: 90%;
}

input,
text,
textarea {
  color: silver;
  background: transparent;
  font-weight: bold;
}

input[type="text"] {
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 3%;
  color: silver;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  color: silver;
  text-align: center;
}

button {
  display: inline-block;
  box-sizing: border-box;
  background-color: silver;
  color: black;
  font-family: "Blinker", sans-serif;
  font-size: 100%;
  font-weight: 500;
  height: 900%;
  width: 35%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: silver;
  cursor: pointer;
  border: .5px solid silver;
}

#sightings {
  font-size: 200%;
  font-weight: bolder;
}

#pass-results {
  font-size: 125%;
  font-weight: bold;
  margin-top: 8%;
  color: silver;
  
}

footer {
  position: fixed;
  margin-top: 2%;
  height: 50;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  bottom: 0;
}

a {
  color: #e4f1fe;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .input-form {
    width: 60%;
  }

  h1 {
    font-size: 235%;
  }

  h4 {
    font-size: 120%;
  }

  #address {
    width: 60%;
  }

  #sightings {
    margin-bottom: -7%;
  }
}

@media screen and (max-width: 768px) {
  .input-form {
    width: 75%;
  }

  h1 {
    font-size: 220%;
  }

  h4 {
    font-size: 140%;
    font-weight: 400;
  }

  #address {
    margin-top: -10%;
    width: 50%;
    height: 50%;
  }

  input,
  text,
  textarea {
    font-weight: 600;
    font-size: 1%;
  }

  #sightings {
    font-size: 175%;
    font-weight: 600;
    margin-bottom: -10%;
  }
}

@media screen and (max-width: 425px) {
  html {
    background: url(https://user-images.githubusercontent.com/10658186/62740595-ca2dc980-ba27-11e9-9259-9b12cce09100.jpg)
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: silver;
    font-family: "Blinker", sans-serif;
  }
  
  .input-form {
    border-radius: 25px;
  }

  h1 {
    font-size: 120%;
  }

  h4 {
    font-size: 100%;
  }

  p {
    font-size: 80%;
  }

  #address {
    height: 10px;
    width: 250px;
  }

  input,
  text,
  textarea {
    font-weight: 400;
    font-size: 1%;
  }

  button {
    width: 50%;
    border: none;
  }

  #sightings {
    font-size: 100%;
  }

  #pass-results {
    font-size: 100%;
  }

  footer {
    font-size: 100%;
  }
}
