* {
    margin: 0;
    padding: 0;
}

html {
  background: url(https://user-images.githubusercontent.com/10658186/62740595-ca2dc980-ba27-11e9-9259-9b12cce09100.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: silver;
  font-family: 'Blinker', sans-serif;
}

main {
    position: fixed;
    height: auto;
    width: auto; 
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

 h1 {
  margin-top: 4%;
  padding: 0 0 20px;
  text-align: center;
  font-weight: bold;
}

.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: transparent;
  backdrop-filter: blur(3px);  
  -webkit-backdrop-filter: blur(3px);
  border-radius: 8%;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 10px silver(192, 192, 192);
	-moz-box-shadow: 0px 0px 10px silver;
	-o-box-shadow: 0px 0px 10px silver;
	-ms-box-shadow: 0px 0px 10px silver;
	box-shadow: 0px 0px 10px silver;
}




