* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  background: url(https://user-images.githubusercontent.com/10658186/62740595-ca2dc980-ba27-11e9-9259-9b12cce09100.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    color: silver;
    font-family: 'Blinker', sans-serif;
    height: 10em;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin-bottom: 3%;
}

h3 {
    font-weight: 700;
}

fieldset {
    padding: 0;
    margin: 0;
}

form {
    box-sizing: border-box;
    height: 280px;
    padding: 4%;
    margin: auto;
}


